<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vinicius.desafiojera">

    <application android:allowBackup="true" android:label="Gerenciamento de Livros"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:name="com.orm.SugarApp">

        <meta-data android:name="DATABASE" android:value="sugar_desafio.db"/>
        <meta-data android:name="VERSION" android:value="3"/>
        <meta-data android:name="QUERY_LOG" android:value="true"/>

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.RegisterLivroActivity" />
        <activity android:name=".activity.SelectLivroActivity" />
        <activity android:name=".activity.RegisterLembreteActivity" />
        <activity android:name=".activity.ListLivroActivity" />
        <activity android:name=".activity.ListLembreteActivity" />
    </application>

</manifest>
